header {
  background-position: 0 0;
  width: 100%;
  height: 226px;
  margin-bottom: 24px;
}
/* Header Sprites */  
  .btn-delete {
    width: 28px;
    height: 28px;
    background-position: -165px -10px;
  }
  .btn-delete:hover {
    background-position: -193px -10px;
  }

  header #status {
    z-index : 2;
    position: relative;
    top     : 23px;
    width   : 100%;
    height  : 50px;
  }
    header .logo {
    position           : absolute;
    top                : 26px;
    width              : 165px;
    height             : 32px;
    text-indent        : -99999px;
    background-position: 0 0;
    }
    /* Sign in, sign out and the cart */
    header #status .user-control {
      float   : right;
      position: relative;
      margin  : 4px 0 0 0;
    }
      header #status .user-control > p {
        float    : left;
        position : relative;
        padding  : 0 24px 0 0;
        font-size: 18px;
        color    : #AFAFAF;
        cursor   : pointer;
      }
    header #status .seperator {
      float     : right;
      width     : 1px;
      height    : 22px;
      margin    : 8px 12px;
      background: #707070;
    }
      header #status p .arrow {
        position           : absolute;
        top                : 12px;
        right              : 0;
        background-position: -165px 0;
      }
    header #status > .locker,
    header #status > .wishlist,
    header #status > .cart {
      float: right;
      position: relative;
      z-index: 1;
    }
    header #status > .locker,
    header #status > .locker + .seperator,
    header #status > .wishlist + .seperator,
    header #status > .wishlist,
    header #status.logged-in .sign-in,
    header #status .account {
      display: none;
    }
    header #status.logged-in > .locker,
    header #status.logged-in > .locker + .seperator,
    header #status.logged-in > .wishlist + .seperator,
    header #status.logged-in > .wishlist,
    header #status.logged-in .account,
    header #status .sign-in {
      display: block;
    }
      header button,
      header .btn {
        line-height: 36px;
      }
      header #status .cart > .btn,
      header #status .locker > .btn,
      header #status .wishlist > .btn {
        z-index   : 1;
        position  : relative;
        padding   : 0 44px 0 0;
        box-shadow: 0 2px 1px rgba(0,0,0,0.4);
      }
        header #status .btn .arrow {
          position           : absolute;
          top                : 18px;
          right              : 12px;
          background-position: -177px 0;
        }
        header #status .btn .arrow:before {
          content : "";
          display : block;
          position: absolute;
          top     : -10px;
          left    : -10px;
          width   : 1px;
          height  : 22px;
        }
          header #status > .cart .btn .arrow:before {
            background: #A4E273;
          }
          header #status > .locker .btn .arrow:before {
            background: #73BEE2;
          }
          header #status > .wishlist .btn .arrow:before {
            background: #97DEF2;
          }
    /* Nav */
      header nav {
        position: absolute;
        top: 80px;
        width: 100%;
      }
        header nav .top-level {
          height: 64px;
          background: url('../img/sprite_header-tile.png');
        }
          header nav .top-level .tab {
            float              : left;
            width              : 150px;
            height             : 57px;
            margin             : 7px 0 0 0;
            background-position: 0 -32px;
          }
          header nav .top-level .tab:hover {
            background-position: -349px -329px;
          }
          header nav .top-level .tab ~ .tab {
            margin-left: -6px;
          }
          header nav .top-level .tab.active,
          .core header nav .top-level .tab.core,
          .casual header nav .top-level .tab.casual,
          .mobile header nav .top-level .tab.mobile {
            background-position: 0 -89px;
          }
          header nav .top-level .tab:hover {
            cursor: pointer;
          }
            header nav .top-level .tab > .container {
              display    : block;
              position   : relative;
              margin     : 16px 0 0 20px;
              padding    : 0 0 0 46px;
              text-shadow: 0 -1px 0 #000;
              font-size  : 16px;
              font-weight: 400;
              line-height: 38px;
              color      : #AFAFAF;
            }
            .core header nav .top-level .tab.core > .container,
            .casual header nav .top-level .tab.casual > .container,
            .mobile header nav .top-level .tab.mobile > .container {
              text-shadow: none;
            }
            header nav .top-level .tab .icon {
              position: absolute;
              top     : 1px;
              left    : 0;
              width   : 36px;
              height  : 36px;
            }
          
            header nav .top-level .tab .icon.core { background-position: -150px -38px; }
            .core header nav .top-level .tab .icon.core { background-position: -150px -76px; }
            header nav .top-level .tab .icon.mobile { background-position: -186px -38px; }
            .mobile header nav .top-level .tab .icon.mobile { background-position: -186px -76px; }
            header nav .top-level .tab .icon.casual { background-position: -222px -38px; }
            .mobile header nav .top-level .tab .icon.casual { background-position: -222px -76px; }
          
          header nav .top-level .search-container {
            content            : "";
            position           : absolute;
            top                : 15px;
            right              : 78px;
            width              : 337px;
            height             : 36px;
            border-radius      : 8px;
            background-position: 0 -674px;
          }
            header nav .top-level .search-container input[type="text"] { 
              position     : absolute;
              top          : 2px;
              right        : 2px;
              width        : 293px;
              height       : 32px;
              padding      : 0 0 0 40px;
              border       : 0;
              border-radius: 8px;
              font-size    : 16px;
              background   : #fff;
            }
            header nav .top-level .search-container .icon.search {
              position: absolute;
              top     : 3px;
              left    : 6px;
            }
          header nav .top-level .btn.search {
            position   : absolute;
            top        : 14px;
            right      : 0;
            width      : 67px;
            height     : 36px;
            padding    : 0;
            line-height: 36px;
            text-align: center;
          }
        /* Secondary Level */
        header nav .secondary-level {
          float: left;
          width: 100%;
        }
          header nav .secondary-level > .tab {
            float   : left;
            position: relative;
            width   : 141px;
            height  : 83px;
            cursor  : pointer;
          }
          header nav .secondary-level > .tab:nth-last-child(1) {
            float: right;
          }
          header nav .secondary-level > .tab:hover,
          #home header nav .secondary-level > .tab.featured,
          #trailers header nav .secondary-level > .tab.trailers,
          #browse header nav .secondary-level > .tab.browse,
          #new-releases header nav .secondary-level > .tab.new-releases,
          #hot-sellers header nav .secondary-level > .tab.hot-sellers {
            background-position: 0 -146px;
          }
            header nav .secondary-level > .tab > .container {
              display    : block;
              margin     : 10px 0 0 0;
              text-align : center;
              text-shadow: 0 1px 0 #fff;
              font-size  : 14px;
              font-weight: 400;
              color      : #707070;
            }
            #home header nav .secondary-level > .tab.featured > .container,
            #trailers header nav .secondary-level > .tab.trailers > .container,
            #browse header nav .secondary-level > .tab.browse > .container,
            #new-releases header nav .secondary-level > .tab.new-releases > .container,
            #hot-sellers header nav .secondary-level > .tab.hot-sellers > .container {
              color: #28AAE1;
            }
            header nav .secondary-level > .tab > .container > .arrow {
              display            : block;
              position           : absolute;
              top                : 58px;
              right              : 24px;
              background-position: -189px 0;
            } 
            #browse header nav .secondary-level > .tab.browse .arrow {
              background-position: -266px 0;
            }