.icon {
  background: url('../img/sprite_icons.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}
.icon.cart { background-position: 0 0; }
.icon.locker { background-position: 0 -32px; }
.icon.wish { background-position: 0 -64px; }
.icon.windows { background-position: -32px 0; }
.active .icon.windows,
.dropdown li a:hover .icon.windows { background-position: -32px -32px; }
.active.icon.windows { background-position: -32px -64px; }
.icon.osx { background-position: -64px 0; }
.active .icon.osx,
.dropdown li a:hover .icon.osx { background-position: -64px -32px; }
.active.icon.osx { background-position: -64px -64px; }
.icon.account { background-position: -96px 0; }
*:hover > .icon.account { background-position: -96px -32px; }
.icon.logout { background-position: -128px 0; }
*:hover > .icon.logout { background-position: -128px -32px; }
.icon.search { background-position: -160px 0px; }
.icon.add-to-cart { background-position: -160px -32px; }
.icon.add-to-wishlist { background-position: 0 -64px; }
.icon.filter { background-position: -96px -64px; }
.icon.trailers { background-position: -64px -96px; }
.icon.images { background-position: 0 -96px; }
.icon.demo { background-position: -32px -96px; }
.active .icon.trailers { background-position: -64px -128px; }
.active .icon.images { background-position: 0 -128px; }
.active .icon.demo { background-position: -32px -128px; }
.available .icon.trailers,
.available.icon.trailers { background-position: -64px -160px; }
.available .icon.images,
.available.icon.images { background-position: 0 -160px; }
.available .icon.demo { background-position: -32px -160px; }
.icon.facebook { background-position: -96px -128px; }
.icon.twitter { background-position: -96px -96px; }
.icon.gplus { background-position: -96px -160px; }
.icon.email { background-position: -128px -64px; }
.icon.single-player { background-position: -128px -96px; }
.icon.multi-player { background-position: -128px -128px; }
.icon.disclosure { background-position: -128px -160px; }
.icon.thumbup { background-position: -160px -64px; }
.icon.thumbdown { background-position: -160px -96px; }
.active .icon.thumbup { background-position: -160px -128px; }
.active .icon.thumbdown { background-position: -160px -160px; }
.icon.flag { background-position: -192px 0; }
.small .icon.flag { background-position: 0 -192px; }
.icon.option { background-position: -192px -32px; }
.icon.reply { background-position: -192px -64px; }
a:hover .icon.reply { background-position: -192px -96px; }
.icon.quote { background-position: -192px -128px; }
a:hover .icon.quote { background-position: -192px -160px; }
/* Trailer Resolution Icons */
.icon.hidef {
  background-position: -32px -192px;
}
.icon.meddef {
  background-position: -64px -192px;
}
.icon.lowdef {
  background-position: -96px -192px;
}
.active.icon.hidef {
  background-position: -32px -224px;
}
.active.icon.meddef {
  background-position: -64px -224px;
}
.active.icon.lowdef {
  background-position: -96px -224px;
}
.active .icon.hidef {
  background-position: -32px -256px;
}
.active .icon.meddef {
  background-position: -64px -256px;
}
.active .icon.lowdef {
  background-position: -96px -256px;
}
.icon.warning {
  background-position: -128px -192px;
}
.message .icon.register {
  background-position: 0 -329px;
}
.message .icon.confirmed {
  background-position: -100px -329px;
}
.message .icon.error {
  background-position: -200px -329px;
}
.message .icon {
  width: 100px;
  height: 77px;
}
.credit-card.icon {
  width: 49px;
  height: 25px;
}
.credit-card.icon.visa {
  background-position: -300px -329px;
}
.credit-card.icon.mastercard {
  background-position: -300px -354px;
}
.credit-card.icon.amex {
  background-position: -300px -379px;
}

.icon.order-success {
  background-position: -506px -220px;
  width: 228px;
  height: 169px;
}

.path .icon.indicator {
  background-position: -258px -86px;
  width: 24px;
  height: 24px;
}

.path .active .icon.indicator {
  background-position: -282px -86px;
}
.path.step-1 .indicator-container:nth-of-type(1) .icon.indicator,
.path.step-2 .indicator-container:nth-of-type(2) .icon.indicator,
.path.step-3 .indicator-container:nth-of-type(3) .icon.indicator,
.path.step-4 .indicator-container:nth-of-type(4) .icon.indicator {
  background-position: -282px -86px;
}

.esrb-icon {
  background-image: url('../img/sprite_esrb.png');
  width: 70px;
  height: 99px;
}
.esrb-icon.early-childhood { background-position: 0 0; }
.esrb-icon.everyone { background-position: -70px 0; }
.esrb-icon.everyone10 { background-position: -140px 0; }
.esrb-icon.teen { background-position: -210px 0; }
.esrb-icon.mature { background-position: 0 -99px; }
.esrb-icon.adults-only { background-position: -70px -99px; }
.esrb-icon.rating-pending { background-position: -140px -99px; }

/* Header & Hero Icons */

header nav .secondary-level > .tab .icon {
  width: 42px;
  height: 42px;
  margin: 0 auto -2px;
}
#activity .item-container .icon {
  position: absolute;
  left: 140px;
  bottom: 12px;
  width: 43px;
  height: 42px;
}
/* Passive */
#activity .item-container .icon.review { background-position: -363px -110px; }
header nav .secondary-level .tab .icon.featured { background-position: -150px -110px; }
header nav .secondary-level .tab .icon.trailers,
#activity .item-container .icon.trailer { background-position: -192px -110px; }
header nav .secondary-level .tab .icon.new-releases,
#activity .item-container .icon.new-release { background-position: -235px -110px; }
header nav .secondary-level .tab .icon.hot-sellers { background-position: -277px -110px; }
header nav .secondary-level .tab .icon.browse { background-position: -320px -110px; }
/* Active */
header nav .secondary-level .tab.active .icon.featured { background-position: -150px -152px; }
header nav .secondary-level .tab.active .icon.trailers { background-position: -192px -152px; }
header nav .secondary-level .tab.active .icon.new-releases { background-position: -235px -152px; }
header nav .secondary-level .tab.active .icon.hot-sellers { background-position: -277px -152px; }
header nav .secondary-level .tab.active .icon.browse { background-position: -320px -152px; }