 /* Universal CSS */    
.item-container {
  position: relative;
}
.item-container.col-2.package {
  float: left;
}
  .item-container .heading,
  #browse .item-list .item-container .package-container .heading {
    border-radius: 20px 20px 0 0;
    height: 60px;
    width: 100%;
    background: #fff;
    position: relative;
  }
    .item-container .heading h1,
    #browse .item-list .item-container .package-container .heading h1 {
      text-indent   : 18px;
      font-size     : 16px;
      font-weight   : 600;
      line-height   : 60px;
      letter-spacing: -1px;
      position: absolute;
      left: 0;
    }
    .item-container .heading .platform,
    #browse .item-list .item-container .package-container .heading .platform {
      height: 32px;
      width: 70px;
      float: right;
      margin: 15px 18px 0 0;
    }
      .item-container .heading .platform .icon {
        float: right;
        opacity: 0.3;
      }
      .item-container .heading .platform .icon.active {
        opacity: 1;
      }
      .item-container .price h2,
      .item-container .price h3 {
        float: left;
        font-weight: 400;
        line-height: 24px;
      }
      .item-container .price h2 {
        text-decoration: line-through;
        font-size: 15px;
        color: #707070;
        margin: 0px 12px 0 0;
      }
      .item-container .price h3 {
        color: #961B1B;
        font-size: 20px;
        margin: 0;
      }
      .star {
        background-position: -221px -14px;
        width: 24px;
        height: 24px;
        float: left;
      }
      .package-container .rating-container .star {
        width: 15px;
        height: 14px;
        background-position: -221px 0;
      }
/* Gallery View */
  section .item-container {
    float: left;
    position: relative;
  }
  section h1 + .carousel-container .item-container {
    margin-top: 0;
  }
  section h1 + .carousel-container .item-container.package {
    margin-top: 34px;
  }
  #game-details section h1 + .carousel-container .item-container.package {
    margin-top: 0;
  }
    section .item-container .single-container {
      border-radius: 20px;
      box-shadow: 0 1px 6px rgba(0,0,0,0.4);
      width: 100%;
      height: 321px;
    }
      section .item-container .single-container img {
        border-radius: 0 0 20px 20px;
      }
  section .item-container.col-2 {
    width: 48.7%;
  }
  section .item-container.col-2:nth-child(2n),
  section .item-container.col-3:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
  section .item-container.col-3 {
    width: 300px;
    margin-right: 24px;
    margin-bottom: 12px;
  }
    section .item-container.col-3.single .single-container {
      height: 264px;
    }
    .item-container .rating-container {
      float: left;
      width: 250px;
      height: 24px;
      margin: 18px 0 0 12px;
    }

      section .item-container .rating-container p {
        float: left;
        font-size: 15px;
        color: #707070;
        line-height: 24px;
        margin: 0 0 0 12px;
      }
      section .item-container.col-3 .rating-container p {
        position: absolute;
        right: 12px;
      }
    section .item-container .price,
    .item-container.package .price {
      float: left;
      clear: left;
      position: relative;
      margin: 24px 0 0 12px;
      top: 0;
      left: 0;
    }
    .item-container .btn.add-to-cart,
    .item-container .btn.add-to-wishlist {
      width: 39px;
      height: 36px;
      position: absolute;
      bottom: 0px;
    }
    .item-container .btn.add-to-cart {
      right: 12px;
    }
    .item-container .btn.add-to-wishlist {
      right: 62px;
    }
/* Browse View */
.item-list {
  float: right;
  margin-left: 32px;
  width: 617px;
}
  .item-list .item-container {
    width: 617px;
    float: left;
  }
/* Singles */
  .item-list .item-container.single {
    height: 157px;
  }
  #browse .item-list .item-container + .item-container {
    margin: 36px 0 0;
  }
    .item-list .item-container .heading {
      width: 436px;
      margin-left: 24px;
      float: left;
      height: 40px;
    }
    .item-list .item-container.single h1 {
      font-size: 18px;
      font-weight: 600;
      text-indent: 0;
      line-height: 40px
    }
    .item-list .item-container .platform {
      margin: 8px 0 0;
    }
    .item-list .item-container .game-thumb {
      float: left;
    }
    .item-list .item-container.single .price {
      position: absolute;
      left: 180px;
      width: 200px;
      top: 46px;
      margin: 0;
    }
    .item-list .item-container.single .rating-container {
      top: 46px;
      float: right;
      margin: 6px 0 0 0;
      width: auto;
    }
      #browse .item-list .item-container .rating-container p {
        font-size: 15px;
        color: #707070;
        line-height: 24px;
        float: left;
        margin: 0 0 0 10px;
      }
    .item-list .item-container.single .esrb {
      position: absolute;
      left: 180px;
      top: 84px;
      font-size: 14px;
      color: #707070;
    }
    .item-list .item-container.single .genre {
      position: absolute;
      top: 84px;
      right: 0;
      font-size: 14px;
    }
    /* Media Tabs */
    .item-list .item-container .media {
      position: absolute;
      left: 180px;
      bottom: -2px;
      width: 156px;
    }
      .item-list .item-container .media .tab {
        float: left;
        width: 50px;
        height: 36px;
        background-position: -330px -53px;
      }
        .item-list .item-container .media .tab .icon {
          margin: auto;
          position: relative;
          top: -4px;
        }
    /* Package Availability */
    .item-list .item-container .package-available {
      width: 163px;
      height: 36px;
      background-position: -334px -216px;
      position: absolute;
      right: 0;
      bottom: -2px;
      font-size: 14px;
      text-align: center;
      letter-spacing: -1px;
      line-height: 24px;
    }
    .item-list hr {
      background-position: 0 -2px;
      width: 100%;
      margin: 36px 0;
    }
/* Packages Item Container */
    /* Universal */
    .package-container { 
      border-radius: 20px;
      box-shadow: 0 1px 6px rgba(0,0,0,0.4);
      width: 100%;
      height: 300px;
    }
    .package-container .heading {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    } 
      .package-container .scrollable-container {
        float   : left;
        position: relative;
        width   : 408px;
        margin  : 24px;
        overflow: hidden;
      }
        .package-container .scrollable-container .scrollable {
          width: 1000px; /* Disable this later */
          position: relative;
        }
          .package-container .scrollable-container .scrollable .mini-item {
            float: left;
            width: 83px;
            cursor: pointer;
            margin: 0 18px 0 0;
            position: relative;
            height: 150px;
          }
          .package-container .scrollable-container .scrollable .mini-item h2 {
            font-size: 12px;
            font-weight: 700;
            color: #3F3F3F;
            margin: 12px 0 12px 0;
            float: left;
          }
          .item-container.package .package-container .rating-container {
            height: 14px;
            margin: 6px 0 0 0;
            float: left;
            bottom: 0;
            position: absolute;
          }
        .package-container .scrollable-container .shadow {
          position           : absolute;
          width              : 18px;
          height             : 148px;
        }
        .package-container .scrollable-container .shadow.right {
          background-position: -406px 0;
          right: 0;
        }
        .package-container .scrollable-container .shadow.left {
          background-position: -423px 0;
          left: 0;
          opacity: 0;
        }
    /* Main Listing Page */
    #browse .item-list .item-container.package {
      height: 385px;
    }
        #browse .item-list .item-container.package .heading {
          margin: 0;
          width: 100%;
        }
        #browse .item-list .item-container.package .scrollable-container {
          width   : 569px;
        }
        #browse .item-list .item-container.package .scroll {
          width: 569px;
        }
        #browse .item-list .item-container .package-container ~ .price {
          position: inherit;
        }
