 /* Universal CSS */    
.item-container {
  position: relative;
}
.item-container.col-2.package {
  float: left;
}
  .item-container .heading,
  #browse .item-list .item-container .package-container .heading {
    position     : relative;
    width        : 100%;
    height       : 60px;
    border-radius: 20px 20px 0 0;
    background   : #fff;
  }
    .item-container .heading h1,
    #browse .item-list .item-container .package-container .heading h1 {
      position      : absolute;
      left          : 0;
      text-indent   : 18px;
      font-size     : 16px;
      font-weight   : 600;
      line-height   : 60px;
      letter-spacing: -1px;
    }
    .item-container .heading .platform,
    #browse .item-list .item-container .package-container .heading .platform {
      float : right;
      width : 70px;
      height: 32px;
      margin: 15px 18px 0 0;
    }
      .item-container .heading .platform .icon {
        float: right;
        opacity: 0.3;
      }
      .item-container .heading .platform .icon.active {
        opacity: 1;
      }
      .item-container .price h2,
      .item-container .price h3 {
        float      : left;
        font-weight: 400;
        line-height: 24px;
      }
      .item-container .price h2 {
        margin         : 0 12px 0 0;
        text-decoration: line-through;
        font-size      : 15px;
        color          : #707070;
      }
      .item-container .price h3 {
        margin   : 0;
        font-size: 20px;
        color    : #961B1B;
      }
/* Gallery View */
  .item-container {
    float: left;
    position: relative;
  }
  h1 + .carousel-container .item-container {
    margin-top: 0;
  }
  h1 + .carousel-container .item-container.package {
    /*margin-top: 34px;*/
  }
  #game-details h1 + .carousel-container .item-container.package {
    margin-top: 0;
  }
    .item-container .single-container {
      width        : 100%;
      height       : 321px;
      border-radius: 20px;
      box-shadow   : 0 1px 6px rgba(0,0,0,0.4);
    }
      .item-container.col-2 .single-container {
        height: 301px;
      }
      .item-container .single-container img {
        border-radius: 0 0 20px 20px;
      }
  .item-container.col-1 {
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }
  .item-container.col-1.package {
    margin-bottom: 0;
  }
  .item-container.col-2 {
    width: 461px;
  }
  .item-container.col-2 + .item-container.col-2 + .item-container.col-2 {
    margin-top: 24px;
  }
  .item-container.col-3 + .item-container.col-3 + .item-container.col-3 {
    margin-top: 12px;
  }
  .carousel .item-container.col-3 + .item-container.col-3 + .item-container.col-3 {
    margin-top: 0;
    float: right;
  }
  .item-container.col-3 + .item-container.col-3 + .item-container.col-3.trailer {
    margin-top: 0;
  }
  .item-container.col-2:nth-child(2n),
  .item-container.col-3:nth-child(2n),
  .item-container.col-3.trailer:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
  .item-container.col-3.trailer:nth-child(2n),
  .carousel .item-container.col-3:nth-child(2n) {
    float: left;
    margin-left: 25px;
  }
  .item-container.col-3 {
    width        : 300px;
    margin-bottom: 12px;
  }
    .item-container.col-3.single .single-container {
      height: 200px;
    }
    .item-container .rating-container {
      float : left;
      width : 250px;
      height: 24px;
      margin: 18px 0 0 10px;
    }

      .item-container .rating-container p {
        float      : left;
        margin     : 0 0 0 12px;
        font-size  : 15px;
        line-height: 24px;
        color      : #707070;
      }
      .item-container.col-3 .rating-container p {
        position: absolute;
        right: 12px;
      }
    .item-container .price,
    .item-container.package .price {
      float   : left;
      clear   : left;
      position: relative;
      top     : 0;
      left    : 0;
      margin  : 24px 0 0 12px;
    }
    .item-container .btn.add-to-cart,
    .item-container .btn.add-to-wishlist {
      position: absolute;
      bottom  : 0;
      width   : 39px;
      height  : 36px;
    }
    .item-container .btn.add-to-cart {
      right: 12px;
    }
    .item-container .btn.add-to-wishlist {
      right: 62px;
    }
/* Browse View */
.item-list {
  float      : right;
  width      : 617px;
  margin-left: 32px;
}
.item-list + hr {
  margin-top: 42px;
}
  .item-list .item-container {
    width: 617px;
    float: left;
  }
/* Singles */
  .item-container.single.list {
    height: 157px;
  }
  .item-container.list + .item-container {
    margin: 36px 0 0;
  }
    .item-container.list .heading {
      float      : left;
      width      : 436px;
      height     : 40px;
      margin-left: 24px;
    }
    .item-container.single.list h1 {
      text-indent: 0;
      font-size  : 18px;
      font-weight: 600;
      line-height: 40px;
    }
    .item-container.list .platform {
      margin: 8px 0 0;
    }
    .item-container.list .game-thumb {
      float: left;
    }
    .item-container.single.list .price {
      position: absolute;
      top     : 46px;
      left    : 180px;
      width   : 200px;
      margin  : 0;
    }
    .item-container.single.list .rating-container {
      float : right;
      top   : 46px;
      width : auto;
      margin: 6px 0 0 0;
    }
      #browse .item-container.list .rating-container p,
      #new-releases .item-container.list .rating-container p,
      #hot-sellers .item-container.list .rating-container p {
        float      : left;
        margin     : 0 0 0 10px;
        font-size  : 15px;
        line-height: 24px;
        color      : #707070;
      }
    .item-container.single.list .esrb {
      position : absolute;
      top      : 84px;
      left     : 180px;
      font-size: 14px;
      color    : #707070;
    }
    .item-container.single.list .genre {
      position : absolute;
      top      : 84px;
      right    : 0;
      font-size: 14px;
    }
    /* Media Tabs */
    .item-container.list .media {
      position: absolute;
      bottom  : -2px;
      left    : 180px;
      width   : 156px;
    }
      .item-container.list .media .tab {
        float              : left;
        width              : 50px;
        height             : 36px;
        background-position: -330px -53px;
      }
        .item-container.list .media .tab .icon {
          position: relative;
          top     : -4px;
          margin  : auto;
        }
    /* Package Availability */
    .item-container.list .package-available {
      position           : absolute;
      right              : 0;
      bottom             : -2px;
      width              : 163px;
      height             : 36px;
      text-align         : center;
      font-size          : 14px;
      line-height        : 24px;
      letter-spacing     : -1px;
      background-position: -334px -216px;
    }
    .item-container.list .package- {
      display:none;
    }
    .list + hr {
      width              : 100%;
      margin             : 36px 0;
      background-position: 0 -2px;
    }
/* Packages Item Container */
    /* Universal */
    .package-container { 
      width        : 100%;
      height       : 300px;
      border-radius: 20px;
      box-shadow   : 0 1px 6px rgba(0,0,0,0.4);
    }
    .package-container .heading {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }
    .package-container .heading h1 {
      width: 100%;
    }
      .package-container .scrollable-container {
        float   : left;
        position: relative;
        width   : 408px;
        margin  : 24px;
        overflow: hidden;
      }
      .col-1 .package-container .scrollable-container {
        width: 902px;
      }
      .col-left .col-1 .package-container .scrollable-container {
        width: 572px;
      }
        .package-container .scrollable-container .scrollable {
          position: relative;
          width   : 1600px;
          float   : left;
        }
          .package-container .scrollable-container .scrollable .mini-item {
            float   : left;
            position: relative;
            width   : 83px;
            height  : 150px;
            margin  : 0 18px 0 0;
            cursor  : pointer;
          }
          .package-container .scrollable-container .scrollable .mini-item h2 {
            float      : left;
            margin     : 12px 0 12px 0;
            font-size  : 12px;
            font-weight: 700;
            color      : #3F3F3F;
          }
          .item-container.package .package-container .rating-container {
            float   : left;
            position: absolute;
            bottom  : 0;
            height  : 14px;
            margin  : 6px 0 0 0;
          }
        .package-container .scrollable-container .shadow {
          position           : absolute;
          width              : 18px;
          height             : 148px;
        }
        .package-container .scrollable-container .shadow.right {
          background-position: -406px 0;
          right: 0;
        }
        .package-container .scrollable-container .shadow.left {
          background-position: -423px 0;
          left: 0;
          opacity: 0;
        }
.scroll {
  float              : left;
  width              : 415px;
  height             : 18px;
  margin             : 0 24px;
  border-radius      : 9px;
  background-position: 0 -710px;
}
.col-left .col-1 .scroll {
  width: 572px;
}
.col-1 .scroll {
  width: 902px;
}
  .scroll .scroll-bar {
    float              : left;
    width              : 250px;
    height             : 12px;
    margin             : 3px;
    border-radius      : 6px;
    background-position: 0 -728px;
    box-shadow         : 0 1px 3px rgba(0,0,0,0.5);
  }
    /* Main Listing Page */
    #browse .item-list .item-container.package {
      height: 385px;
    }
    .item-container:last-of-type + hr {
      display: none;
    }
        #browse .item-list .item-container.package .heading,
        #new-releases .item-list .item-container.package .heading,
        #hot-sellers .item-list .item-container.package .heading {
          margin: 0;
          width: 100%;
        }
        #browse .item-list .item-container.package .scrollable-container,
        #new-releases .item-list .item-container.package .scrollable-container,
        #hot-sellers .item-list .item-container.package .scrollable-container {
          width   : 569px;
        }
        #browse .item-list .item-container.package .scroll,
        #new-releases .item-list .item-container.package .scroll,
        #hot-sellers .item-list .item-container.package .scroll {
          width: 569px;
        }
        #browse .item-list .item-container .package-container ~ .price,
        #new-releases .item-list .item-container .package-container ~ .price,
        #new-releases .item-list .item-container .package-container ~ .price {
          position: inherit;
        }
