/* Regular Size Stars */
.rating-container.rating-40 .star:nth-of-type(5),
.rating-container.rating-30 .star:nth-of-type(5),
.rating-container.rating-35 .star:nth-of-type(5),
.rating-container.rating-30 .star:nth-of-type(4),
.rating-container.rating-25 .star:nth-of-type(5),
.rating-container.rating-25 .star:nth-of-type(4),
.rating-container.rating-20 .star:nth-of-type(5),
.rating-container.rating-20 .star:nth-of-type(4),
.rating-container.rating-20 .star:nth-of-type(3),
.rating-container.rating-15 .star:nth-of-type(5),
.rating-container.rating-15 .star:nth-of-type(4),
.rating-container.rating-15 .star:nth-of-type(3),
.rating-container.rating-10 .star:nth-of-type(5),
.rating-container.rating-10 .star:nth-of-type(4),
.rating-container.rating-10 .star:nth-of-type(3),
.rating-container.rating-10 .star:nth-of-type(2),
.rating-container.rating-05 .star:nth-of-type(5),
.rating-container.rating-05 .star:nth-of-type(4),
.rating-container.rating-05 .star:nth-of-type(3),
.rating-container.rating-05 .star:nth-of-type(2),
.rating-container.rating-00 .star:nth-of-type(5),
.rating-container.rating-00 .star:nth-of-type(4),
.rating-container.rating-00 .star:nth-of-type(3),
.rating-container.rating-00 .star:nth-of-type(2),
.rating-container.rating-00 .star:nth-of-type(1) {
  background-position: -245px -14px;
}
.rating-container.rating-45 .star:nth-of-type(5),
.rating-container.rating-35 .star:nth-of-type(4),
.rating-container.rating-25 .star:nth-of-type(3),
.rating-container.rating-15 .star:nth-of-type(2),
.rating-container.rating-05 .star:nth-of-type(1) {
  background-position: -269px -14px;
}
/* Small Stars */
.package-container .rating-container.rating-40 .star:nth-of-type(5),
.package-container .rating-container.rating-35 .star:nth-of-type(5),
.package-container .rating-container.rating-30 .star:nth-of-type(5),
.package-container .rating-container.rating-30 .star:nth-of-type(4),
.package-container .rating-container.rating-25 .star:nth-of-type(5),
.package-container .rating-container.rating-25 .star:nth-of-type(4),
.package-container .rating-container.rating-20 .star:nth-of-type(5),
.package-container .rating-container.rating-20 .star:nth-of-type(4),
.package-container .rating-container.rating-20 .star:nth-of-type(3),
.package-container .rating-container.rating-15 .star:nth-of-type(5),
.package-container .rating-container.rating-15 .star:nth-of-type(4),
.package-container .rating-container.rating-15 .star:nth-of-type(3),
.package-container .rating-container.rating-10 .star:nth-of-type(5),
.package-container .rating-container.rating-10 .star:nth-of-type(4),
.package-container .rating-container.rating-10 .star:nth-of-type(3),
.package-container .rating-container.rating-10 .star:nth-of-type(2),
.package-container .rating-container.rating-05 .star:nth-of-type(5),
.package-container .rating-container.rating-05 .star:nth-of-type(4),
.package-container .rating-container.rating-05 .star:nth-of-type(3),
.package-container .rating-container.rating-05 .star:nth-of-type(2),
.package-container .rating-container.rating-00 .star:nth-of-type(5),
.package-container .rating-container.rating-00 .star:nth-of-type(4),
.package-container .rating-container.rating-00 .star:nth-of-type(3),
.package-container .rating-container.rating-00 .star:nth-of-type(2),
.package-container .rating-container.rating-00 .star:nth-of-type(1) {
  background-position: -236px 0;
}
.package-container .rating-container.rating-45 .star:nth-of-type(5),
.package-container .rating-container.rating-35 .star:nth-of-type(4),
.package-container .rating-container.rating-25 .star:nth-of-type(3),
.package-container .rating-container.rating-15 .star:nth-of-type(2),
.package-container .rating-container.rating-05 .star:nth-of-type(1) {
  background-position: -251px 0;
}