* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, Arial, 'Sans Serif';
}
.arrow {
  width: 11px;
  height: 6px;
}
.placeholder {
  color: #AFAFAF;
}
input[type="text"], input[type="password"] {
  color: #707070;
}
a {
  color: #28AAE1;
  text-decoration: none;
}
hr {
  height           : 1px;
  margin           : auto;
  border           : 0;
  background       : url('../img/sprite_hr.png') 0 0;
  background-repeat: no-repeat;
}

button {
  border: none;
}
button,
.btn {
  border-radius: 8px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
}
button.green,
.btn.green {
  background-position: 0 -226px;
  color: #fff;
  border: 1px solid #53822E;
}
button.green:hover,
.btn.green:hover {
  background-position: 0 -264px;
}
button.silver,
.btn.silver,
.switch .btn {
  background-position: 0 -302px;
  color: #fff;
  border: 1px solid #AFAFAF;
  color: #707070;
}
button.silver:hover,
.btn.silver:hover {
  background-position: 0 -338px;
}
button.indigo,
.btn.indigo {
  background-position: 0 -374px;
  border: 1px solid #1A7196;
  color: #fff;
}
button.indigo:hover,
.btn.indigo:hover {
  background-position: 0 -410px;
}
button.blue,
.btn.blue {
  background-position: 0 -554px;
  border: 1px solid #234E82;
  color: #fff;
}
button.blue:hover,
.btn.blue:hover {
  background-position: 0 -592px;
}
button.red,
.btn.red {
  background-position: 0 -446px;
  border: 1px solid #951A1A;
  color: #fff;
}
button.red:hover,
.btn.red:hover {
  background-position: 0 -482px;
}
/* Switches */
.switch {
  width: 100%;
  position: relative;
  height: 36px;
}

.switch .btn {
  text-align: center;
  line-height: 36px;
  height: 36px;
}
.switch .btn.active {
  background-position: 0 -518px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.33);
  border-color: #1A7196;
}
.switch.col-2 .btn {
  width: 50%;
  position: absolute;
  border-radius: 8px 0 0 8px;
}
.switch.col-2 .btn:nth-last-child(1) {
  right: 0;
  border-radius: 0 8px 8px 0;
}
.switch.col-2.narrow {
  width: 33%;  
  margin: auto;
}
/* Game Thumbs */
.game-thumb {
  box-shadow: 0 2px 2px rgba(0,0,0,0.3); 
}
.game-thumb.small {
  border-radius: 14px;
  overflow: hidden;
  width: 83px;
  height: 83px;
}
/* ---------------------- Aggregated Styles       */
/* Elements Using the 1PX Sprite */
button,
.btn,
header,
header #status .account .user-popup .container ul li a:hover,
header nav .top-level .search-container,
header nav .secondary-level .tab .menu .container li a:hover {
  background-image: url('../img/sprite_1px.png');
  background-repeat: repeat-x;
}
header .logo,
.btn-delete,
.arrow,
header nav .top-level .tab,
header nav .top-level .tab .icon,
header nav .secondary-level .tab .icon,
header nav .secondary-level .tab.active,
#hero .icon,
.gallery section .item-container .rating-container .star,
.carousel-container .controls .left,
    .carousel-container .controls .right {
  background-image: url('../img/sprite_main.png');
}
/* ---------------------- End Aggregated Styles   */

/* ---------------------- Main Container          */
.container-950,
.container-960,
.container-970,
.container-980 {
  margin: auto;
  position: relative;
}
.container-980 { width: 980px; }
.container-970 { width: 970px; }
.container-960 { width: 960px; }
.container-950 { width: 950px; }

/* ----------------------------- Features */
#hero {
  width: 100%;
  height: 451px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  position: relative;
}
  #hero > img {
    border-radius: 30px;
    position: relative;
  }
#activity {
  position: absolute;
  height: 171px;
  bottom: 0;
  background: #fff;
  width: 100%;
  border-radius: 0 0 29px 29px;
}
  #activity .item-container {
    width: 33%;
    height: 171px;
    position: relative;
    float: left;
  }
  #activity .item-container ~ .item-container,
  #activity .item-container .thumb .shadow,
  #activity .item-container .play {
    background: url('../img/sprite_hero.png');
    background-repeat: no-repeat;
  }
  #activity .item-container ~ .item-container {
    background-position: 0 -32px;
  }
    #activity .item-container .thumb {
      overflow: hidden;
      width: 88px;
      height: 88px;
      margin: 24px;
      position: relative;
      float: left;
    }
      #activity .item-container .thumb img {
        border-radius: 8px;
        position: absolute;
        border: none;
      }
      #activity .item-container .thumb .shadow {
        width: 100%;
        height: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-position: -32px 0;
      }
      #activity .item-container .play {
        position           : absolute;
        top                : 24px;
        left               : 29px;
        width              : 32px;
        height             : 32px;
        background-position: 0 0;
      }
    #activity .item-container h2 {
      float         : left;
      margin        : 24px 0 9px 0;
      font-size     : 16px;
      font-weight   : 600;
      letter-spacing: -1px;
    }
    #activity .item-container p {
      float         : left;
      width         : 165px;
      text-align    : justify;
      font-size     : 14px;
      line-height   : 17px;
      letter-spacing: -1px;
      color         : #707070;
    }
/* Main */
#main hr {
  width              : 100%;
  margin             : 24px 0;
  background-position: 0 -3px;
  clear: both;
}
/* List Sections */
#main .gallery hr {
  float: left;
}
.gallery section {
  float: left;
}
  .gallery section h1 {
    float      : left;
    font-size  : 28px;
    font-weight: 400;
    line-height: 48px;
    color      : #707070;
    width: 830px;
  }
  .gallery section .btn.more {
    float      : right;
    width      : 86px;
    text-indent: 12px;
    line-height: 36px;
    margin: 10px 0 0 0;
  }
    .gallery section .btn.more .arrow {
      position           : absolute;
      top                : 15px;
      right              : 9px;
      width              : 9px;
      height             : 9px;
      background-position: -201px 0;
    }
  .gallery section .item-container {
    float: left;
    margin-top: 34px;
    position: relative;
  }
    .gallery section .item-container .game-thumb {
      border-radius: 20px;
      box-shadow: 0 1px 6px rgba(0,0,0,0.4);
      width: 100%;
      height: 321px;
    }
      .gallery section .item-container .game-thumb img {
        border-radius: 0 0 20px 20px;
      }
    .gallery section .item-container .heading {
      border-radius: 20px 20px 0 0;
      height: 60px;
      width: 100%;
      background: #fff;
      position: relative;
    }
      .gallery section .item-container .heading h1 {
        width         : 280px;
        text-indent   : 18px;
        font-size     : 16px;
        font-weight   : 600;
        line-height   : 60px;
        letter-spacing: -1px;
        position: absolute;
        left: 0;
      }
      .gallery section .item-container .heading .platform {
        height: 32px;
        width: 70px;
        float: right;
        margin: 15px 18px 0 0;
      }
      .gallery section .item-container .heading .platform .icon {
        float: right;
        opacity: 0.3;
      }
      .gallery section .item-container .heading .platform .icon.active {
        opacity: 1;
      }
  .gallery section .item-container.col-2 {
    width: 48.7%;
  }
  .gallery section .item-container.col-2:nth-child(2n),
  .gallery section .item-container.col-3:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
  .gallery section .item-container.col-3 {
    width: 300px;
    margin-right: 24px;
    margin-bottom: 12px;
  }
    .gallery section .item-container.col-3 .game-thumb {
      height: 264px;
    }
    .gallery section .item-container .rating-container {
      width: 250px;
      height: 24px;
      float: left;
      margin: 18px 0 0 12px;
    }
      .gallery section .item-container .rating-container .star {
        background-position: -221px -14px;
        width: 24px;
        height: 24px;
        float: left;
      }
      .gallery section .item-container .rating-container.rating-4 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-3 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-35 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-3 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-25 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-25 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-2 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-2 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-2 .star:nth-child(3),
      .gallery section .item-container .rating-container.rating-15 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-15 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-15 .star:nth-child(3),
      .gallery section .item-container .rating-container.rating-1 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-1 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-1 .star:nth-child(3),
      .gallery section .item-container .rating-container.rating-1 .star:nth-child(2),
      .gallery section .item-container .rating-container.rating-05 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-05 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-05 .star:nth-child(3),
      .gallery section .item-container .rating-container.rating-05 .star:nth-child(2),
      .gallery section .item-container .rating-container.rating-00 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-00 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-00 .star:nth-child(3),
      .gallery section .item-container .rating-container.rating-00 .star:nth-child(2),
      .gallery section .item-container .rating-container.rating-00 .star:nth-child(1) {
        background-position: -245px -14px;
      }
      .gallery section .item-container .rating-container.rating-45 .star:nth-child(5),
      .gallery section .item-container .rating-container.rating-35 .star:nth-child(4),
      .gallery section .item-container .rating-container.rating-25 .star:nth-child(3),
      .gallery section .item-container .rating-container.rating-15 .star:nth-child(2),
      .gallery section .item-container .rating-container.rating-05 .star:nth-child(1) {
        background-position: -269px -14px;
      }
      .gallery section .item-container .rating-container p {
        float: left;
        font-size: 15px;
        color: #707070;
        line-height: 24px;
        margin: 0 0 0 12px;
      }
      .gallery section .item-container.col-3 .rating-container p {
        position: absolute;
        right: 12px;
      }
    .gallery section .item-container .price {
      float: left;
      clear: left;
      position: relative;
      margin: 24px 0 0 12px;
    }
      .gallery section .item-container .price h2,
      .gallery section .item-container .price h3 {
        float: left;
        font-weight: 400;
        line-height: 24px;
      }
      .gallery section .item-container .price h2 {
        text-decoration: line-through;
        font-size: 15px;
        color: #707070;
        margin: 0px 0 0 0;
      }
      .gallery section .item-container .price h3 {
        color: #961B1B;
        font-size: 20px;
        margin: 0 0 0 12px;
      }
    .gallery section .item-container .btn.add-to-cart,
    .gallery section .item-container .btn.add-to-wishlist {
      width: 39px;
      height: 36px;
      position: absolute;
      bottom: 0px;
    }
    .gallery section .item-container .btn.add-to-cart {
      right: 12px;
    }
    .gallery section .item-container .btn.add-to-wishlist {
      right: 62px;
    }
    .gallery section .item-container .btn.add-to-cart .icon,
      .gallery section .item-container .btn.add-to-wishlist .icon {
        position: absolute;
        top: 1px;
        left: 4px;
      }
/* Gallery Carousel */
.carousel-container {
  position: relative;
  float: left;
  z-index: 10;
}
  .carousel-container .controls {
    position: absolute;
    height: 58px;
    width: 100%;
  }
    .carousel-container .controls .left,
    .carousel-container .controls .right {
      position: absolute;
      width: 46px;
      height: 58px;
      cursor: pointer;
    }
    .carousel-container .controls .left {
      background-position: -150px -194px;
      left: -23px;
    }
    .carousel-container .controls .left:hover {
      background-position: -242px -194px;
    }
    .carousel-container .controls .right {
      background-position: -196px -194px;
      right: -23px;
    }
    .carousel-container .controls .right:hover {
      background-position: -288px -194px;
    }
    /* Front Page Gallery View */
    .gallery .carousel-container .controls {
      top: 150px;
    }