/* Elements Using the 1PX Sprite */
.btn,
.group-table .row:hover,
.menu .container li a:hover,
.scroll .scroll-bar,
.scroll,
.status-line,
.status-line-container,
.titlebar,
article.bubble .bottom,
button,
header #status .account .user-popup .container ul li a:hover,
header nav .top-level .search-container,
header {
  background-image: url('../img/sprite_1px.png');
  background-repeat: repeat-x;
}

#browse header nav .secondary-level > .tab.browse,
#hero .icon,
#home header nav .secondary-level > .tab.featured,
#hot-sellers header nav .secondary-level > .tab.hot-sellers,
#new-releases header nav .secondary-level > .tab.new-releases,
#trailers header nav .secondary-level > .tab.trailers,
.arrow,
.btn-delete,
.bubble-indicator,
.carousel-container .controls .left,
.carousel-container .controls .right,
.confirm-menu,
.credit-card.icon,
.filter .flag-container .flag,
.icon.order-success,
.item-container .media .tab.available,
.message .icon,
.package .scrollable-container .shadow,
.package-available,
.play,
.scrollable .tab,
.selector,
.squareBtn,
.star,
footer .logo,
header .logo,
header nav .secondary-level .tab .icon,
header nav .secondary-level > .tab:hover,
header nav .top-level .tab .icon,
header nav .top-level .tab,
aside.bulletin .count {
  background-image: url('../img/sprite_main.png');
  position: relative;
}
body {
  float: left;
}
.checkbox,
.radio,
.slider-container .knob,
.path .icon.indicator {
  background-image: url('../img/sprite_ui.png');
}

.checkbox,
.radio {
  float: left;
  clear: left;
}
.checkbox + p,
.radio + p {
  text-indent: 10px;
  font-size  : 16px;
  line-height: 30px;
  color      : #707070;
}
.checkbox + p ~ .checkbox,
.radio + p ~ .radio,
.checkbox + p ~ p,
.radio + p ~ p {
  margin-top: 24px;
}

.radio {
  top                : -2px;
  width              : 22px;
  height             : 22px;
  margin             : 6px;
  background-position: 0 0;
}

.radio.checked {
  background-position: -22px 0;
}

.titlebar {
  z-index            : 1;
  position           : relative;
  top                : -1px;
  height             : 36px;
  border             : 1px solid #3F3F3F;
  border-bottom      : 0;
  border-radius      : 12px 12px 0 0;
  background-position: 0 -740px;
  box-shadow         : inset 0 0 1px rgba(255,255,255,1);
}
  .titlebar h1,
  .module .titlebar h1 {
    position   : absolute;
    width      : 100%;
    text-indent: 12px;
    font-size  : 16px;
    font-weight: 400;
    line-height: 36px;
    color      : #fff;
  }
  .titlebar .icon + h1 {
    text-indent: 36px;
  }
.spinner {
  width           : 28px;
  height          : 27px;
  background-image: url('../img/sprite_spinner.png');
}
.spinner[frame="0"] { background-position: 0 0; }
.spinner[frame="1"] { background-position: 0 -27px; }
.spinner[frame="2"] { background-position: 0 -54px; }
.spinner[frame="3"] { background-position: 0 -81px; }
.spinner[frame="4"] { background-position: 0 -108px; }
.spinner[frame="5"] { background-position: 0 -135px; }
.spinner[frame="6"] { background-position: 0 -162px; }
.spinner[frame="7"] { background-position: 0 -189px; }

/* Layout */
aside {
  width: 300px;
  float: right;
}
.col-left {
  float: left;
  width: 620px;
}
.row {
  float: left;
  width: 100%;
}
/* ---------------------- End Aggregated Styles   */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, Arial, 'Sans Serif';
  color: #707070;
}
#main {
  float: left;
  width: 100%;
}
.arrow {
  width: 11px;
  height: 6px;
}
.placeholder {
  color: #AFAFAF;
}
input[type="text"], input[type="password"],textarea {
  padding      : 6px 6px;
  border       : 1px solid #AFAFAF;
  border-radius: 6px;
  font-size    : 15px;
  color        : #707070;
  box-shadow   : inset 0 1px 4px rgba(0,0,0,0.2);
}
textarea {
  border-radius: 10px 10px 0 10px;
}
a {
  color: #28AAE1;
  text-decoration: none;
}
hr {
  height           : 1px;
  margin           : auto;
  border           : 0;
  background       : url('../img/sprite_hr.png') 0 0;
  background-repeat: no-repeat;
}

button {
  border: none;
}
button,
.btn {
  display           : block;
  position          : relative;
  height            : 36px;
  border-radius     : 8px;
  font-size         : 16px;
  line-height       : 36px;
  cursor            : pointer;
  -webkit-appearance: none;
}
button.green,
.btn.green {
  border             : 1px solid #53822E;
  color              : #fff;
  background-position: 0 -226px;
}
button.green:hover,
.btn.green:hover {
  background-position: 0 -264px;
}
button.silver,
.btn.silver,
.switch .btn {
  border             : 1px solid #AFAFAF;
  color              : #fff;
  color              : #707070;
  background-position: 0 -302px;
}
button.silver:hover,
.btn.silver:hover {
  background-position: 0 -338px;
}
.btn.small {
  height: 24px;
}
.btn.silver.small {
  background-position: 0 -1017px;
}
.btn.silver.small:hover {
  background-position: 0 -1042px;
}
  .btn.small .icon {
    margin: -4px 0 0 -2px; 
  }
button.indigo,
.btn.indigo {
  border             : 1px solid #1A7196;
  color              : #fff;
  background-position: 0 -374px;
}
button.indigo:hover,
.btn.indigo:hover {
  background-position: 0 -410px;
}
button.blue,
.btn.blue {
  border             : 1px solid #234E82;
  color              : #fff;
  background-position: 0 -554px;
}
button.blue:hover,
.btn.blue:hover {
  background-position: 0 -592px;
}
button.red,
.btn.red {
  border             : 1px solid #951A1A;
  color              : #fff;
  background-position: 0 -446px;
}
button.red:hover,
.btn.red:hover        { background-position: 0 -482px; }
.btn.facebook         { background-position: 0 -776px; border: 1px solid #3B5998; }
.btn.facebook:hover   { background-position: 0 -812px; }
.btn.gplus            { background-position: 0 -848px; border: 1px solid #B32E1D; }
.btn.gplus:hover      { background-position: 0 -884px; }

.btn .icon {
  float : left;
  margin: 2px 4px;
}
.checkbox {
  width              : 22px;
  height             : 22px;
  background-position: 0 -44px;
}
.checkbox:hover {
  background-position: -22px -44px;
}
.checkbox.checked {
  background-position: 0px -22px;
}
.checkbox.checked:hover {
  background-position: -22px -22px;
}
/* Switches */
.switch {
  position: relative;
  width   : 100%;
  height  : 36px;
}
.switch .btn {
  float      : left;
  height     : 36px;
  text-align : center;
  line-height: 36px;
}
.switch .btn {
  border-radius: 0;
}
  .switch .btn.active p {
    color: #fff;
  }
.switch .btn:nth-last-child(1) {
  border-radius: 0 8px 8px 0;
}
.switch.col-3 .btn:nth-last-child(1),
.switch.col-4 .btn:nth-last-child(1) {
  border-left: 0;
}
.switch.col-4 .btn:nth-last-child(2) {
  z-index: 1;
}
.switch .btn:nth-child(1) {
  border-radius: 8px 0 0 8px;
  border-right: 0;
}
.switch .btn.active {
  border-color       : #1A7196;
  text-shadow        : 0 1px 0 rgba(0,0,0,0.33);
  color              : #fff;
  background-position: 0 -518px;
}
.switch.col-2 .btn {
  width: 50%;
  position: absolute;
}
.switch.col-3 .btn {
  width: 33%;
}
.switch.col-2 .btn:nth-last-child(1) {
  right: 0;
}
.dropdown + .switch.col-2.narrow {
  margin: 0;
  float: right;
  width: 300px;
}
.switch.col-2.narrow {
  width: 33%;
  margin: 0 33%;
  float: left;
}
.switch.col-4.narrow {
  width: 60%;
  margin: 0 20%;
}
.switch.col-4 .btn {
  width: 24.8%;
}
.switch.col-4 .btn ~ .btn {
  margin: 0 -1px 0;
}
.switch .icon + p {
  float    : left;
  position : absolute;
  left     : 28px;
  font-size: 15px;
}
#browse .switch.col-2.narrow {
  float: right;
}
/* Game Thumbs */
.game-thumb {
  box-shadow: 0 2px 2px rgba(0,0,0,0.3); 
  overflow: hidden;
}
.game-thumb.small,
.package .scrollable .game-thumb.small {
  border-radius: 14px;
  width: 83px;
  height: 83px;
}
.game-thumb.medium {
  border-radius: 20px;
  width: 157px;
  height: 157px;
}
.game-thumb.large {
  width: 214px;
  height: 214px;
  border-radius: 20px;
}
.package .scrollable .game-thumb.small img {
  border-radius: 0;
}
    .game-thumb.medium .game-thumb {
        width: 63px;
        height: 63px;
        float: left;
        margin: 10px 0 0;
        border-radius: 10px;
      }
        .game-thumb.medium .game-thumb img {
          margin-left: -14px;
          margin-top: -8px;
          border-radius: 10px;
        }
      .game-thumb.medium .game-thumb:nth-child(odd) {
        float: left;
        margin-left: 10px;
      }
      .game-thumb.medium .game-thumb:nth-child(even) {
        float: right;
        margin-right: 10px;
      }
.rating-container p {
  color: #707070;
}

/* ---------------------- Aggregated Styles       */
/* ---------------------- Main Container          */
.container-950,
.container-960,
.container-970,
.container-980 {
  margin: auto;
  position: relative;
}
.container-980 { width: 980px; }
.container-970 { width: 970px; }
.container-960 { width: 960px; }
.container-950 { width: 950px; }

/* ----------------------------- Features */
#hero {
  width: 100%;
  height: 451px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  position: relative;
}
  #hero > img {
    border-radius: 30px;
    position: relative;
  }
#activity {
  position: absolute;
  height: 171px;
  bottom: 0;
  background: #fff;
  width: 100%;
  border-radius: 0 0 29px 29px;
}
  #activity .item-container {
    width: 33%;
    height: 171px;
    position: relative;
    float: left;
  }
  #activity .item-container ~ .item-container,
  #activity .item-container .thumb .shadow {
    background-image: url('../img/sprite_hero.png');
    background-repeat: no-repeat;
  }
  #activity .item-container ~ .item-container {
    background-position: 0 -32px;
  }
    #activity .item-container .thumb {
      overflow: hidden;
      width: 88px;
      height: 88px;
      margin: 24px;
      position: relative;
      float: left;
    }
      #activity .item-container .thumb img {
        border-radius: 8px;
        position: absolute;
        border: none;
      }
      #activity .item-container .thumb .shadow {
        width: 100%;
        height: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-position: -32px 0;
      }
      .play {
        position           : absolute;
        top                : 24px;
        left               : 29px;
        width              : 32px;
        height             : 32px;
        background-position: -441px -127px;
      }
    #activity .item-container h2 {
      float         : left;
      margin        : 24px 0 9px 0;
      font-size     : 16px;
      font-weight   : 600;
      letter-spacing: -1px;
    }
    #activity .item-container p {
      float         : left;
      width         : 165px;
      text-align    : justify;
      font-size     : 14px;
      line-height   : 17px;
      letter-spacing: -1px;
      color         : #707070;
    }
/* Main */
hr {
  width              : 100%;
  margin             : 24px 0;
  background-position: 0 -3px;
  clear: both;
  float: left;
}
.col-left hr {
  width: 625px;
  background-position: 0 -2px;
}
/* List Sections */
#main .gallery hr {
  float: left;
}
.screen {
  display: none;
}
.screen.visible {
  display: block;
}
.gallery section {
  float: left;
  width: 100%;
}
  h1 {
    color      : #707070;
    font-size  : 28px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 24px;
  }
  section h1 {
    float: left;
  }
  section > h1 {
    width: 800px;
  }
  .col-right section h1,
  .col-left section h1 {
    width: 500px;
  }
  .advertisement + h1 {
    margin-top: 12px;
  }
  .btn.more {
    float      : right;
    width      : 86px;
    text-indent: 12px;
    line-height: 36px;
    margin: 10px 0 0 0;
  }
    .btn.more .arrow {
      position           : absolute;
      top                : 15px;
      right              : 9px;
      width              : 9px;
      height             : 9px;
      background-position: -201px 0;
    }
/* Gallery Carousel */
.carousel-container {
  position: relative;
  float: left;
  z-index: 10;
  width: 100%;
}
.item-container + .carousel-container {
  margin-top: 30px;
}
  .carousel-container .carousel {
    width: 100%;
    float: left;
  }
  .carousel-container .controls {
    position: absolute;
    height: 1px;
    width: 100%;
  }
    .carousel-container .controls .left,
    .carousel-container .controls .right {
      position: absolute;
      width: 46px;
      height: 58px;
      cursor: pointer;
    }
    .carousel-container .controls .left {
      background-position: -150px -194px;
      left: -23px;
    }
    .carousel-container .controls .left:hover {
      background-position: -242px -194px;
    }
    .carousel-container .controls .right {
      background-position: -196px -194px;
      right: -23px;
    }
    .carousel-container .controls .right:hover {
      background-position: -288px -194px;
    }
    #recommended .carousel-container .controls {
      top: 120px;
    }
    /* Front Page Gallery View */
    .gallery .carousel-container .controls {
      top: 130px;
    }
    .gallery #package-view .carousel-container .controls {
      top: 160px;
    }
    #trailers .carousel-container .controls { top: 62px; }
  label {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    float: left;
    line-height: 36px;
  }
  label + .dropdown {
    margin: 0 0 0 12px;
  }
  .dropdown {
    position: relative;
    width: 290px;
    float: left;
  }
    .dropdown .btn {
      line-height: 36px;
      float: left;
      width: 100%;
      text-indent: 12px;
      position: relative;
    }
      .dropdown .btn .icon {
        margin-right: -12px;
      }
      .dropdown .btn .arrow {
        position: absolute;
        right: 12px;
        top: 16px;
        background-position: -189px 0;
      }
      .dropdown .menu,
      .dropdown .menu.visible {
        top: 6px;
        right: 0px;
        width: 100%;
        position: absolute;
      }
  #main .dropdown + hr {
    margin: 24px 0;
    float: left;
  }
/* Aside Group Table */
#my-account .aside-scroll {
  position: fixed;
  top: 24px;
}
aside h1 {
  width: 100%;
}
aside .overview {
  padding      : 24px;
  background   : #fff;
  border-radius: 20px;
  border       : 1px solid #D3D3D3;
  box-shadow   : 0 3px 3px rgba(0,0,0,0.15);
  float: left;
  width: 250px;
}
  aside .overview .group-table {
    float        : left;
    width        : 298px;
    margin       : -24px -24px;
    border-radius: 20px;
    position: relative;
  }
    aside .overview .group-table .row {
      width  : 250px;
      height : 24px;
      padding: 14px 24px;
      cursor : pointer;
      color: #707070;
      font-weight: 300;
      position: relative;
      display: block;
    }
    aside .overview .group-table .row:nth-child(even) {
      background: #f3f4f4;
    }
    aside .overview .group-table .row:nth-child(1) {
      border-radius: 20px 20px 0 0;
    }
    aside .overview .group-table .row:nth-last-child(1) {
      border-radius: 0 0 20px 20px;
    }
    aside .overview .group-table .row:hover,
    aside .overview .group-table .row.selected {
      background-image   : url('../img/sprite_1px.png');
      background-position: 0 -920px;
      background-repeat  : repeat-x;
      color: #1A7196;
    }
      aside .overview .group-table .row .rating-container {
        float: left;
      }
      aside .overview .group-table .row .disclosure {
        position: absolute;
        top     : 12px;
        right   : 12px;
      }
      aside .overview .group-table .row p {
        float       : right;
        margin-right: 33px;
        line-height : 24px;
        color       : #707070;
      }
/* Aside Details */
.col-left h2 {
  font-size: 22px;
  font-weight: 400;
  color: #707070;
  line-height: 30px;
  margin-bottom: 30px;
}
  #billing-address-toggle-container {
    margin-top: 24px;
    float: left;
    display: none;
  }
  #billing-address-toggle-container.visible {
    display: block;
  }
  .col-left .row,
  .popup.window .row {
    position: relative;
    float: left;
    width: 100%;
  }
  .col-left .row + h1 {
    margin-top: 36px;
  }
  .row .col,
  .row.col-2 .col:nth-child(odd) {
    float: left;
  }
  .row.col-2three .col:nth-of-type(1) {
    width: 500px;
    float: left;
  }
  .popup.window .row.col-2three .col:nth-of-type(1) {
    width: 470px;
  }
  .row.col-2three .col:nth-of-type(2) {
    float: right;
    width: 100px;
  }
  .col-left .row + .row {
    margin-top: 30px;
  }
  .popup.window .row + .row {
    margin-top: 20px;
  }
  .col-left .row + hr {
    margin-top: 36px;
  }
  .col-left .row ~ hr + .row {
    margin-top: 0;
  }
  .row.col-2 .col {
    width: 297px;
  }
  .col-left .row label,
  .popup.window .row label {
    width: 100%;
    margin-bottom: 18px;
    line-height: 30px;
  }
  .row.col-2 .col input {
    width: 286px;
  }
  .col-left .row .col .dropdown,
  .col-left .row .col .dropdown .btn,
  .popup.window .row .col .dropdown,
  .popup.window .row .col .dropdown .btn {
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .row.col-2 .col:nth-of-type(even),
  .row.col-3 .col:nth-of-type(3n) {
    float: right;
  }
  .col-left .row.col-3 .col:nth-of-type(2n) {
    margin: 0 24px;
    float: left;
  }
  .col-left .row.col-3 .col {
    width: 190px;
  }
  .col-left .row.col-3Two .col,
  .popup.window .row.col-3Two .col {
    float: left;
    width: 200px;
  }
  .col-left .row.col-3Two .col + .col,
  .popup.window .row.col-3Two .col + .col {
    margin-left: 24px;
  }

  .col-left .switch {
    float: left;
    width: 100%;
  }
  .col-left .switch .icon {
    position: absolute;
    left: 2px;
    top: 0px;
  }

  .col-left .switch + p {
    float: left;
    font-size: 14px;
    color: #707070;
    position: relative;
    text-indent: 40px;
    line-height: 32px;
    margin-top: 12px;
  }
    .col-left .switch + p .icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  .row > input[type="text"]:only-of-type {
    width: 606px;
  }
  .col-left .row .group-box {
    border: 1px solid #D3D3D3;
    background: #fff;
    border-radius: 8px;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,0.1);
  }
    .col-left .row .group-box .padding {
      padding: 24px;
    }
  .col-left .row [name="cid"],
  .popup.window .row [name="cid"] {
    width: 84px;
    text-align: center;
    float: right;
  }
  .col-left .row [name="credit-card-number"] {
    width: 483px;
  }
  .popup.window .row [name="credit-card-number"] {
    width: 483px;
  }
  .col-left .row button.confirm {
    float: right;
    width: 192px;
  }
  /* Message */
  .message {
    background: #F3F4F4;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    float: left;
    margin-bottom: 30px;
    display: none;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,0.08);
  }
  .message.visible {
    display:block;
  }
  .message.registration {
    margin-bottom: 500px;
  }
  .message .padding {
    padding: 24px;
    float: left;
  }
    .message .icon {
      float: left;
      margin: 0 24px 0;
      position: relative;
      left: -16px;
    }
    .message h1 {
      font-size: 24px;
      font-weight: 400;
      color: #707070;
      float: left;
      margin: 10px 0 0;
      line-height: 28px;
    }
    .message .icon.error + h1 {
      color: #951A1A;
    }
    .message h2 {
      float: left;
      font-size: 16px;
      color: #707070;
      font-weight: 300;
      margin: 10px 0 0 0;
      line-height: 18px;
    }
    .message h3 {
      float: left;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      color: #707070;
      text-align: center;
      margin-bottom: 24px;
    }
    .message strong {
      font-weight: 600;
    }
    .message .icon + h1 {
      width: 750px;
    }
    .message hr {
      float: left;
      width: 100%;
      background-position: 0 -4px;
    }
    .message .btn[name="resend-confirmation"] {
      width: 240px;
      text-align: center;
      margin: auto;
      clear: both;
    }
/* Bulletin */
aside.bulletin {}
  aside.bulletin .count {
    float              : left;
    width              : 36px;
    height             : 36px;
    margin             : 24px 9px 0 0;
    text-align         : center;
    font-size          : 14px;
    line-height        : 34px;
    background-position: -294px 0;
  }
  aside.bulletin .item-container {
    float        : left;
    width        : 100%;
    margin-bottom: 24px;
  }
    aside.bulletin .item-container .game-thumb {
      float: left;
    }
    aside.bulletin .item-container h2 {
      float      : left;
      margin     : 12px 0 0 12px;
      font-size  : 14px;
      font-weight: 400;
    }
    aside.bulletin .item-container .rating-container {
      float: left;
      width: 100px;
    }
  aside.bulletin .btn.more {
    float: left;
    margin: 10px 109px 0;
  }