.trailer {}
#trailers #filter,
#trailers .item-list {
  margin-top: 24px;
}
  .trailer-container {
    position     : relative;
    border-radius: 10px;
    overflow     : hidden;
    box-shadow   : 0 2px 6px rgba(0,0,0,0.2);
    cursor       : pointer;
  }
  .col-2 .trailer-container {
    height: 264px;
  }
  .col-3 .trailer-container {
    height: 164px;
  }
  .trailer-container img {
    border-radius: 10px;
  }
  .trailer-container .info {
    position     : absolute;
    right        : 12px;
    bottom       : 12px;
    width        : 89px;
    height       : 36px;
    border-radius: 6px;
    background   : rgba(255,255,255,0.88);
  }
    .trailer-container .info p {
      float      : left;
      margin-left: 9px;
      font-size  : 14px;
      line-height: 38px;
      color      : #3F3F3F;
    }
    .trailer-container .info .icon {
      float: right;
      margin:4px 6px;
    }
.trailer h1 {
  float      : left;
  width      : 100%;
  margin     : 6px 0 0 12px;
  font-size  : 15px;
  font-weight: 600;
  line-height: 30px;
}
.trailer.col-2 h1,
.trailer.col-3 h1 {
  margin-top: 12px;
}
.trailer time {
  position   : absolute;
  right      : 12px;
  bottom     : 0;
  font-size  : 15px;
  line-height: 24px;
  color      : #707070;
}
.trailer .col-3 time {
  float      : left;
  position   : inherit;
  width      : 100%;
  margin-top : 5px;
  text-indent: 24px;
}
  .trailer .rating-container {
    margin-top: 3px;
  }
  .trailer .rating-container p {
    left: 130px;
  }
.carousel-container.trailer .controls {
  top: 90px;
}
  .item-list .trailer {
    margin: 0;
    width: 100%;
  }
  .item-list .trailer-container {
    float : left;
    width : 300px;
    height: 164px;
  }
    .item-list .trailer h1 {
      float      : left;
      width      : 286px;
      margin-left: 24px;
    }
    .item-list .trailer .rating-container {
      float      : left;
      margin-left: 21px;
    }
    .item-list .trailer time {
      float   : left;
      position: inherit;
      right   : 0;
      margin  : 7px 0 0 24px;
    }
    #main .item-list .trailer hr {
      float              : right;
      clear              : none;
      width              : 292px;
      margin             : 12px 0;
      background-position: 0 -4px;
    }
    .item-list .trailer hr + p {
      float    : right;
      width    : 292px;
      font-size: 14px;
      color    : #707070;
    }