<div template="filter-single">
  <aside class="filter">
    <div class="titlebar">
      <div class="icon filter"></div>
      <h1>Filters</h1>
    </div>
    <section>
      <div class="checkbox checked"></div>
      <h2>Min Average Rating:</h2>
      <div class="rating-container rating-35"> <!-- 4.5 = 45, 4 = 4 etc... -->
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <p>Very Poor</p>
        <p>Poor</p>
        <p>Okay</p>
        <p>Good</p>
        <p>Excelent</p>
      </div>
    </section>
    <section>
      <div class="checkbox checked"></div>
      <h2>Price Range:</h2>
      <div class="range-slider active">
        <div class="slider-container">
          <div class="range"></div>
          <div class="knob left active"></div> <!-- When the user has specifically selected this knob -->
          <div class="knob right"></div>
        </div>
        <div class="bubble-indicator left">4</div> <!-- Bubble Indicators only show when the slider is being used -->
        <div class="bubble-indicator right">14</div>
      </div>
      <div class="units col-7">
        <p>$1</p>
        <p>$10</p>
        <p>$20</p>
        <p>$30</p>
        <p>$50</p>
        <p>$60</p>
        <p>$70</p>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Intended Audience:</h2>
      <div class="range-slider disabled"> <!-- Disabled Range Slider -->
        <div class="slider-container">
          <div class="range"></div>
          <div class="knob left"></div>
          <div class="knob right"></div>
        </div>
        <div class="bubble-indicator left">4</div> <!-- Bubble Indicators only show when the slider is being used -->
        <div class="bubble-indicator right">14</div>
      </div>
      <div class="units col-4">
        <p>3+</p>
        <p>6+</p>
        <p>13+</p>
        <p>18+</p>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Media:</h2>
      <div class="squareBtn"><div class="icon trailers"></div>Trailers</div>
      <div class="squareBtn"><div class="icon images"></div>Images</div>
      <div class="squareBtn"><div class="icon demo"></div>Demo</div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Language:</h2>
      <div class="flag-container">
        <div class="flag french"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag italian"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag german"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag english"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag spanish"></div>
        <div class="selector"></div>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Gaming Platform:</h2>
      <div class="switch col-2">
        <div class="btn active"><div class="icon windows"></div><p>Windows</p></div>
        <div class="btn"><div class="icon osx"></div><p>OS X</p></div>
      </div>
    </section>
  </aside>
</div>

<div template="filter-package">
  <aside class="filter">
    <div class="titlebar">
      <div class="icon filter"></div>
      <h1>Filters</h1>
    </div>
    <section>
      <div class="checkbox checked"></div>
      <h2>Min Average Rating:</h2>
      <div class="rating-container rating-35"> <!-- 4.5 = 45, 4 = 4 etc... -->
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <p>Very Poor</p>
        <p>Poor</p>
        <p>Okay</p>
        <p>Good</p>
        <p>Excelent</p>
      </div>
    </section>
    <section>
      <div class="checkbox checked"></div>
      <h2>Points Range:</h2>
      <div class="range-slider active">
        <div class="slider-container">
          <div class="range"></div>
          <div class="knob left active"></div> <!-- When the user has specifically selected this knob -->
          <div class="knob right"></div>
        </div>
        <div class="bubble-indicator left">4</div> <!-- Bubble Indicators only show when the slider is being used -->
        <div class="bubble-indicator right">17</div>
      </div>
      <div class="units col-7">
        <p>1</p>
        <p>5</p>
        <p>10</p>
        <p>15</p>
        <p>20</p>
        <p>25</p>
        <p>30</p>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Intended Audience:</h2>
      <div class="range-slider disabled"> <!-- Disabled Range Slider -->
        <div class="slider-container">
          <div class="range"></div>
          <div class="knob left"></div>
          <div class="knob right"></div>
        </div>
        <div class="bubble-indicator left">4</div> <!-- Bubble Indicators only show when the slider is being used -->
        <div class="bubble-indicator right">14</div>
      </div>
      <div class="units col-4">
        <p>3+</p>
        <p>6+</p>
        <p>13+</p>
        <p>18+</p>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Media:</h2>
      <div class="squareBtn"><div class="icon trailers"></div>Trailers</div>
      <div class="squareBtn"><div class="icon images"></div>Images</div>
      <div class="squareBtn"><div class="icon demo"></div>Demo</div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Language:</h2>
      <div class="flag-container">
        <div class="flag french"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag italian"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag german"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag english"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag spanish"></div>
        <div class="selector"></div>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Gaming Platform:</h2>
      <div class="switch col-2">
        <div class="btn active"><div class="icon windows"></div><p>Windows</p></div>
        <div class="btn"><div class="icon osx"></div><p>OS X</p></div>
      </div>
    </section>
  </aside>
</div>

<div template="filter-trailer">
  <aside class="filter">
    <div class="titlebar">
      <div class="icon filter"></div>
      <h1>Filters</h1>
    </div>
    <section>
      <div class="checkbox checked"></div>
      <h2>Min Average Rating:</h2>
      <div class="rating-container rating-35"> <!-- 4.5 = 45, 4 = 4 etc... -->
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <p>Very Poor</p>
        <p>Poor</p>
        <p>Okay</p>
        <p>Good</p>
        <p>Excelent</p>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Intended Audience:</h2>
      <div class="range-slider disabled"> <!-- Disabled Range Slider -->
        <div class="slider-container">
          <div class="range"></div>
          <div class="knob left"></div>
          <div class="knob right"></div>
        </div>
        <div class="bubble-indicator left">4</div> <!-- Bubble Indicators only show when the slider is being used -->
        <div class="bubble-indicator right">14</div>
      </div>
      <div class="units col-4">
        <p>3+</p>
        <p>6+</p>
        <p>13+</p>
        <p>18+</p>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Media:</h2>
      <div class="squareBtn"><div class="icon hidef"></div>1080p</div>
      <div class="squareBtn"><div class="icon meddef"></div>720p</div>
      <div class="squareBtn"><div class="icon lowdef"></div>360p</div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Language:</h2>
      <div class="flag-container">
        <div class="flag french"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag italian"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag german"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag english"></div>
        <div class="selector"></div>
      </div>
      <div class="flag-container">
        <div class="flag spanish"></div>
        <div class="selector"></div>
      </div>
    </section>
    <section>
      <div class="checkbox"></div>
      <h2>Gaming Platform:</h2>
      <div class="switch col-2">
        <div class="btn active"><div class="icon windows"></div><p>Windows</p></div>
        <div class="btn"><div class="icon osx"></div><p>OS X</p></div>
      </div>
    </section>
  </aside>
</div>