<div template="menu">
  <div class="side-menu">
    <h1>Menu</h1>
    <div class="account-overview overview">
    <div class="group-table">
      <a name="about" class="row" href="#about">
        About Me
        <span class="icon disclosure"></span>
      </a>
      <a name="email" class="row" href="#email">
        Email Address &amp; Password
        <span class="icon disclosure"></span>
      </a>
      <a name="communications" class="row" href="#communications">
        Communications
        <span class="icon disclosure"></span>
      </a>
      <a name="shipping" class="row" href="#shipping">
        Shipping Address
        <span class="icon disclosure"></span>
      </a>
      <a name="billing" class="row" href="#billing">
        Billing Address
        <span class="icon disclosure"></span>
      </a>
      <a name="payment" class="row" href="#payment">
        Payment Details
        <span class="icon disclosure"></span>
      </A>
    </div>
  </div>
</div>